#body {
  background-color: gray;
  padding: 200px
}

#calculator{
  background-color: black;
  height: 300px;
  width: 300px;
  text-align: center;
}

#screen{
margin-top: 40px;
color: white;
font-size: 20px;
}
